<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Google Test Suite">
    <test name="A tags">
        <classes>
            <class name="org.example.demotestautomation.smoketests.ATagsTest"/>
        </classes>
    </test>
    <test name="Page title">
        <classes>
            <class name="org.example.demotestautomation.smoketests.PageTitleTestNG"/>
        </classes>
    </test>
</suite>
